
<div class="m-5">
  <div>
      <h2>Chicago price and emissions conditions are:</h2>
  </div>
  <div class="row">
    <div class="col-12">
        <table class="table">
          <thead class="dark">
            <tr>
              <th scope="col">
                Hourly Price of Electricity
              </th>
              <th scope="col">
                Tomorrow's Emissions (tons CO2/MWh)
              </th>
              <th scope="col">
                Today's Emissions (tons CO2/MWh)
              </th>
          </thead>
      
        <tbody>
          <ng-container>
          <tr>
            <td *ngFor="let prices of prices | async" [ngClass]="setPriceClass(prices.price)">
              {{prices.price | currency}}
            </td>
            <td *ngFor="let leem of leem | async" [ngClass]="setCarbonClass(leem.dayaheadCO2rate)">
              {{leem.dayaheadCO2rate | number}}
            </td>
            <td *ngFor="let leem of leem | async" [ngClass]="setCarbonClass(leem.currentCO2rate)">
              {{leem.currentCO2rate | number}} 
            </td>
          </tr>
          </ng-container>
          <tr>
          <td *ngFor="let leem of leem | async">
            Current hourly price in ComEd.
          </td>
          <td *ngFor="let leem of leem | async">
            Tomorrow at {{today | date:'h a'}}
          </td>
          <td *ngFor="let leem of leem | async">
            Today at {{today | date:'h a'}}
          </td>
          <tr>
        </tbody>
      </table>
    
    </div>
  </div>
  
</div>  