<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav navbar navbar-expand-sm navbar-toggleable-md navbar-light" role="navigation">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href=""><img class="img-fluid" src="" width="" height=""></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Reports</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a routerLink="/report" class="nav-link" routerLinkActive="active">Report Home</a>
          <a class="dropdown-item" href="#">Daily</a>
          <a class="dropdown-item" href="#">Monthly</a>
          <a class="dropdown-item" href="#">Yearly</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a routerLink="/about" class="nav-link" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>
      <li>  
        <button onclick="googleLogin()">Sign In</button>
      </li>
    </ul>
  </div>
</nav>
    
<router-outlet></router-outlet>
