<div class="container">
  <h2 *ngFor="let users of users | async">
      Your current stats at {{users.address1}} are:
  </h2>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="dark">
          <tr>
            <th scope="col">
                Mean
            </th>
            <th scope="col">
                Median
            </th>
            <th scope="col">
                High
            </th>
            <th scope="col">
                Low
            </th>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let carbons of carbons | async" [ngStyle]="{'color': setCarbonColor(carbons.percent)}">
              {{ calculateAverage(carbons.percent) }}
            </td>
            <td *ngFor="let carbons of carbons | async" [ngStyle]="{'color': setCarbonColor(carbons.percent)}">
              {{carbons.median / 100 | percent}}
            </td>
            <td *ngFor="let carbons of carbons | async" [ngStyle]="{'color': setCarbonColor(carbons.percent)}">
              {{carbons.max / 100 | percent}}
            </td>
            <td *ngFor="let carbons of carbons | async" [ngStyle]="{'color': setCarbonColor(carbons.percent)}">
              {{carbons.min / 100 | percent}}
            </td>
          </tr>
          <tr>
          <td *ngFor="let carbons of carbons | async">
            Mean percent {{carbons.ba}} ISO.
          </td>
          <td *ngFor="let carbons of carbons | async">
            Median percent {{carbons.ba}} ISO.
          </td>
          <td *ngFor="let carbons of carbons | async">
            High percent {{carbons.ba}} ISO.
          </td>
          <td *ngFor="let carbons of carbons | async">
            Low percent {{carbons.ba}} ISO.
          </td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>
