
<div class="container">
  <h2 *ngFor="let users of users | async">
      Your current stats at {{users.address1}} are:
  </h2>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="dark">
          <tr>
            <th scope="col">
              Hourly Price
            </th>
            <th scope="col">
              Grid Fossil Fuel Footprint
            </th>
            <th scope="col">
              Solar Generation
            </th>
            <th scope="col">
              Demand
            </th>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let prices of prices | async" [ngStyle]="{'color': setPriceColor(prices.price)}">
              {{prices.price * 0.01 | currency}}
            </td>
            <td *ngFor="let carbons of carbons | async" [ngStyle]="{'color': setCarbonColor(carbons.percent)}">
              {{carbons.percent / 100 | percent}}
            </td>
            <td *ngFor="let solars of solars | async" [ngStyle]="{'color': setGenerationColor(solars.generation)}">
              {{solars.generation | number : '1.0-2'}} W
            </td>
            <td *ngFor="let uses of uses | async" [ngStyle]="{'color': setDemandColor(uses.demand)}">
              {{uses.demand / 1000000000 | number : '1.0-2'}} W
            </td>
          </tr>
          <tr>
          <td *ngFor="let carbons of carbons | async">
            Current hourly price in the {{carbons.ba}} ComEd node.
          </td>
          <td *ngFor="let carbons of carbons | async">
            Current % of fossil fuel generation in the {{carbons.ba}} ISO.
          </td>
          <td *ngFor="let users of users | async">
             Current solar generation at {{users.address1}}.
           </td>
           <td *ngFor="let users of users | async">
             Current demand net of generation at {{users.address1}}.
           </td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>