
<div class="container">
  <div class="row">
    <div class="col">
      <h1>
      Welcome to {{ title }}!
      </h1>
      <p>
        eNudge will tell you when you should be turning off energy use to be most environmentally friendly.
      </p>
      <h2 *ngFor="let users of users | async">
      Your current stats at {{users.address1}} are:
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="dark">
          <tr>
            <th scope="col">
              Price
            </th>
            <th scope="col">
              Carbon
            </th>
            <th scope="col">
              Solar
            </th>
            <th scope="col">
              Consumption
            </th>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let prices of prices | async">
              {{prices.price * 0.01 | currency}}
            </td>
            <td *ngFor="let carbons of carbons | async">
              {{carbons.percent / 100 | percent}}
            </td>
            <td *ngFor="let solars of solars | async">
              {{solars.generation / 1000}} kW
            </td>
            <td *ngFor="let uses of uses | async">
              {{uses.demand / 10000000000 | number}} kW
            </td>
          </tr>
          <tr>
          <td *ngFor="let carbons of carbons | async">
            Current hourly price in the {{carbons.ba}} ComEd node.
          </td>
          <td *ngFor="let carbons of carbons | async">
            Current % of fossil fuel generation in the {{carbons.ba}} ISO.
          </td>
          <td *ngFor="let users of users | async">
             Current solar generation at {{users.address1}}.
           </td>
           <td *ngFor="let users of users | async">
             Current consumption at {{users.address1}}.
           </td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>