<mat-nav-list>
  <h4 mat-subheader>Quick Stats</h4>
    <mat-list-item>
    <mat-icon mat-list-icon color="primary">dashboard</mat-icon>
    <a routerLink="/dashboard" routerLinkActive = "active" mat-line>Dashboard</a>
  </mat-list-item>
  
  <mat-divider></mat-divider>
  
  <h4 mat-subheader>Reports</h4>
  <mat-list-item>
    <mat-icon mat-list-icon class="price">attach_money</mat-icon>
    <p mat-line>Prices</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon class="carbon">whatshot</mat-icon>
    <p mat-line>Carbon</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon class="generation">wb_sunny</mat-icon>
    <p mat-line>Generation</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon class="consumption">power</mat-icon>
    <p mat-line>Consumption</p>
  </mat-list-item>
  
</mat-nav-list>