<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>
    
    <div class="form-group">
        <button (click)="auth.googleLogin()" type="submit" class="google-color mat-primary btn btn-lg mat-raised-button btn-block"><fa-icon [icon]="faGoogle"></fa-icon> Sign In with Google</button>
    </div>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img [src]="user.photoURL" height="auto" width="100px">
        <p>UID: {{ user.uid }}</p>
        <p>Building: {{ user?.building }} </p>
    </div>
</ng-template>
